body{
    background-color:rgb(239, 215, 215);
}
header{
    padding: px;
    color: rgb(440, 153, 77);
    font-size: 35px;
    border-bottom: 5px solid red;
    background: rgb(222, 212, 212);
}

#titulo{
    color: rgb(40, 153, 77);
    font-size: 50px;
    text-align: center;
}

.texto{
    color: black;
    font-size: 30px;
    text-align: justify;
}
.conteudo{
    background-color: rgb(249, 240, 246);
}
.listas{
    font-size: 35px;
    text-align: center;
    color: black;
    }
.lista1{
    list-style-position: inside;
    }
.lista2{
    list-style: inside ;
}
.lista3{
    
}