body{
    background-color:rgb(243, 159, 159));
}
#titulo {
    color: rgb(0, 255, 85);
    font-size: 50px;
    text-align: center;
}
.texto {
    color: black;
    font-size: 30px;
    text-align: justify;
}